.newsletter {
  background: #271C47;
  padding: 60px 0;
  color: #fff;

}

.newsletter__container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.newsletter__text {
  max-width: 400px;
}

.newsletter__text h3 {
  font-size: 32px;
  margin-bottom: 12px;
}

.newsletter__text p {
  font-size: 14px;
  opacity: 0.8;
}

.newsletter__form {
  display: flex;
  flex-direction:column;
  gap: 6px;
}

.newsletter__input {
  display: flex;
  gap: 6px;
}

.newsletter__form input {
  padding: 10px 20px;
  background: #fff;
  color: #676767;
  border-radius: 8px;
  border: none;
  width: 160px;
  gap: 50px;
}

.newsletter__form button {
  background: #f7ca11;
  color:#271C47;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.newsletter__checkbox {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}