.brands {
  text-align: center;
  margin: 80px 0;
}

.brands h2 {
  font-size: 22px;
  color: #3019B2;
  margin-bottom: 48px;
}

.brands__list {
  display: flex;
  justify-content: center;
  gap: 42px;
}

.brands__item {
    width: 200px;       
  height: 200px;      

  border-radius: 50%;  

  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.3s;
}

.brands__item img {
  width: 117px; 
  height: auto; 
  object-fit: contain;
}

.brands__item:hover {
  transform: translateY(-6px);
}