.header__top {
    background: white;
    color: #9f9f9f ;
    font-size:12px;;
    padding: 8px 20px;
    
    display: flex;
    justify-content: center;
    gap: 80px;
}
.header__top-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__top-item img {
    width: 20px;
    height: 20px;
}

.header__top-item p {
    font-size: 12px;
    margin: 0;
}

.header__top-item span {
    color: #3019b2;
    font-weight: 600;
}

.header__main {
    max-width: 1200px;
    margin: 0 auto;
    padding:20px;

    display:flex;
    align-items:center;
    justify-content: space-between;

    border-bottom: 1px solid #ededed;
}

.header__logo img {
    height: 40px;
}

.header__search{
    flex:1;
    margin: 0 40px;

    display: flex;
    align-items: center;
   

    background: #f6f5f2;
    border-radius: 10px;
    padding: 10px 16px;
    
}

.header__search input {
    flex:1;
    border:none;
    background: transparent;
    outline: none;
    font-size: 14px ;
    cursor: pointer;
}

.header__search img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.header__nav {
    border-top: 1px solid #eee;
    background:white;
    border-bottom: 1px solid #393013;
}

.header__nav ul{
    max-width: 1200px;
    margin: a auto;
    padding: 16px 20px;

    display: flex;
    justify-content: center;
    gap: 80px;

    list-style: none;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header__nav {
    border-top: 1px solid #eee;
    border-bottom:1px solid #eee;
    background: #fff;
}

.header__nav ul {
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px 20px;

    display: flex;
    align-items: center;
    gap: 90px;

    list-style: none;
}

.header__nav li {
    font-size: 12px;
    font-weight: 500;
    color:#9f9f9f;
    cursor: pointer;
}

.header__nav .bold {
    font-weight: 600;
}

.header__nav .span {
    color: #3019b2;
    font-weight: 600;
}

.header__nav .assinatura {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__nav .assinatura img {
    width: 20px;
    height: 20px;
}