.related__products {
  max-width: 1200px;
  margin: 40px auto;

  display: flex;
  justify-content: center;
  gap: 16px;
}

.related {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related__header {
  text-align: center;
  margin-bottom: 40px;
}

.related__header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3019B2;
}

.related__tabs {
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  overflow: hidden;
   border: 1px solid #ddd;
  justify-content: space-between;
  gap: 58px;
}

.related__tabs span {
  font-size: 16px;
  color: #3b3b3b;
  cursor: pointer;
  padding-bottom: 4px;
}

.related__tabs .active {
  color: #3019B2;
  font-weight: 600;
  border-bottom: 2px solid #3019B2;
}

.related__products {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.related__carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.related__products-wrapper {
  overflow: hidden;
  width: 100%;
}

.related__products {
  display: flex;
  gap: 16px;
}

.product-card {
  min-width: 25%;
}

.arrow {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;
  color: #000;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: all 0.2s ease;
}

.arrow:hover {
  transform: scale(1.05);
}